.App {
  padding-top: 50px;
  margin: 16px;
}
.thead {
  color: white;
  background-color: #00843d;
}

.container {
  margin-top: 20px;
}
.greyText {
  color: #666666;
}
.greenText {
  color: #00843d;
  font-weight: bold;
}
.icon {
  color: #ced4da;
}
.navbar {
  background-color: #00843d;
  color: white;
  height: 4rem;
}
.navigation {
  text-decoration: none;
  color: white;
}
.navigation:hover {
  text-decoration: none;
  color: rgb(208, 206, 206);
}

.outline-button {
  background-color: white;
  border-color: #00843d;
  color: #00843d;
  padding: 8px 15px;
}
.outline-button:hover {
  background-color: #00843d;
  border-color: #00843d;
  color: white;
}
