.calc{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.slidersContainer{
    border: rgba(128, 128, 128, 0.27) 1px solid;
    box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.25);
    padding-left: 20px;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
}

.maxAmount,
.maxPeriod {
    text-align: right;
    padding-right: 40px;
}

.loanInfoBox{
    border: #319731 2px solid;
    background-color: #00843D;
    margin-left: 0;
    color: white;
    /*height: 400px;*/
    line-height: 2;
    font-weight: bolder;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 0;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 50px;
}

.tableValues{
    text-align: right;
    padding-top: 10px;
}

tr{
    border-top: white 1px solid;
}

.tableRow1,
.tableFixedFee {
    border-top: none;
}

#tableMonthPayment{
    font-size: 20px;
}


.slider {
    width: 95%;
    display: block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    padding-top: 40px;
    padding-bottom: 20px;
}

.sliderGroup {
    display: block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    justify-content: center;
    border: rgba(128, 128, 128, 0.27) 10px solid;
}

.btnApply {
    background-color: white;
    color: #00843D;
    height: 50px;
    font-weight: bold;
    padding: 15px;
    display: block;
    justify-content: center;
    border: none;
    transition-duration: 0.4s;
    line-height: 0;
    margin: 40px auto 20px auto;
}

.btnApply:hover{
    background-color: #00843D;
    color: white;
    border: white 1px solid;
}

/*.btnApply:active{*/
/*    scroll-behavior: smooth;*/
/*}*/

/*.buttonSection{*/

/*}*/

.amountSliderGroup{
    margin: 10px;
}

.loanAmountText,
.loanPeriodText {
    display: flex;
    justify-content: left;
    width: 200px;
    font-size: 20px;
    margin-top: 0;
    padding-bottom: 0;
}

.loanAmount,
.loanPeriod {
    display: flex;
    justify-content: right;
    width: 300px;
    font-size: 25px;
    font-weight: bold;
    color: #00843D;

}

.loanAmountRange,
.loanPeriodRange {
    font-size: 16px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: #00843D;
    font-weight: bold;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}

.periodSliderGroup{
    /*margin: 30px 10px 10px 10px;*/
    margin: 10px;
}

@media only screen and (min-width: 992px) {
    .calc{
        width: 80%;
    }
}
